In [2]:
print('Welcome to Python')

Welcome to Python

Data Types

In [5]:
a=143
b=75.8
c=2+3j
print(type(a))
print(type(b))

type(c)

<class 'int'>
<class 'float'>

complex

In [8]:
x='rohit'
y='anjani'

x+ '  ' +y

'rohit  anjani'

In [9]:
print((x+" "+y).upper())

ROHIT ANJANI

In [14]:
#list
s=[78,85,'rohit','purple']
s[0]=90 #replace 78 with 90
s

[90, 85, 'rohit', 'purple']

In [17]:
#tuple
s=(78,85,'rohit','purple')
s

(78, 85, 'rohit', 'purple')

In [20]:
#set
r={8,8,8,5,4,5,6,5,9,49,10,143,412,77,77,85,11,88,8,'ro','ro'}
r #it prints unique numbers in order

{10, 11, 143, 4, 412, 49, 5, 6, 77, 8, 85, 88, 9, 'ro'}

In [24]:
#dictionaries
m={2:"mahesh",4:"vinay",6:'rohit',7:8888}
m[4] #we can fetch data using key

'vinay'

Arthmetic Operators

In [1]:
#add
9+5

14

In [2]:
#multiply
9*5

45

In [3]:
#divison
9/5

1.8

In [4]:
#remainder

9%5

4

In [6]:
#quotient
9//5

1