In [2]:
print('Welcome to Python')

Welcome to Python

#### Vaariables

In [1]:
a='rohit'
a

'rohit'

In [2]:
r= input('Enter Number ')
r

'6'

Data Types

In [5]:
a=143
b=75.8
c=2+3j
print(type(a))
print(type(b))

type(c)

<class 'int'>
<class 'float'>

complex

In [8]:
x='rohit'
y='anjani'

x+ '  ' +y

'rohit  anjani'

In [9]:
print((x+" "+y).upper())

ROHIT ANJANI

In [2]:
#list
s=[78,85,'rohit','purple']
s[0]=90 # replaces 75 with 90
s

[90, 85, 'rohit', 'purple']

In [17]:
#tuple
s=(78,85,'rohit','purple')
s

(78, 85, 'rohit', 'purple')

In [20]:
#set
r={8,8,8,5,4,5,6,5,9,49,10,143,412,77,77,85,11,88,8,'ro','ro'}
r #it prints unique numbers in order

{10, 11, 143, 4, 412, 49, 5, 6, 77, 8, 85, 88, 9, 'ro'}

In [24]:
#dictionaries
m={2:"mahesh",4:"vinay",6:'rohit',7:8888}
m[4] #we can fetch data using key

'vinay'

Arthmetic Operators

In [1]:
#add
9+5

14

In [2]:
#multiply
9*5

45

In [3]:
#divison
9/5

1.8

In [4]:
#remainder

9%5

4

In [6]:
#quotient
9//5

1

In [15]:
#square
x=55
z=x**2
z

3025

In [16]:
#complex maths
x=98
y=25
z=x**2+9**4j+y
z

(9628.195450404382+0.5938854672327115j)

Conditional Statements

In [17]:
i="late"
if(i=="early"):
    print("Cook")
else:
    print("Order")

Order

In [19]:
#if elif else

i=int(input())

if(i>=80):
    print("Excellent")
elif(80>i>=60):
    print("Good")
elif(60>i>=40):
    print("Average")
else:
    print("Bad")

Average

In [22]:

#nested Conditions

s=int(input())

if (s>=50):
    if(s%2==0):
        print("Greater than 50 and even Number")
    else:
        print("Greater than 50 but not even")
else:
    if(s%2!=0):
        print("Less than 50 and odd number")
    else:
        print("Less than 50 and not odd number")

Greater than 50 but not even

Iterative Statements

In [5]:
n =10
for i in range (n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range (0,15,5):
    print("Hi")

Hi
Hi
Hi

In [31]:
# factorial of a Number


fac=10
for i in range(1,11):
    fac=fac*i
print(fac)

36288000

Functions

In [37]:
def square(s):
    sq=s*s
    return sq

square(6)

36

In [43]:
#Combinations

def factorial(value):
    fac=1
    for i in range (1,value+1):
        fac=fac*i
    return fac

n= int(input())
r=int(input())

c=factorial(n)/(factorial(r)*factorial(n-r))

print("Numberof combinations are : "+str(c))

Numberof combinations are : 210.0

In [45]:
def num(x,y):
    if x>y:
        print (x)
    elif x==y:
        print("Equals")
    else:
        print(y)

num(50,30)

50

In [2]:
import pandas as pd
d= pd.DataFrame({'X':['B','B','A',"A"],"Y":[1,2,3,4]})
print(d.groupby(['X']).sum())

   Y
X
A  7
B  3

In [3]:
3*1**3

3

In [5]:
def fun(x):
    x[0]=5
    return x
g=[10,11,12]
print(fun(g),g)

[5, 11, 12] [5, 11, 12]

In [6]:
not(5<10)and not(5>15)

False

In [7]:
l1=[10,20,30,40]
l2=l1
l3=l1.copy()
l4=list[l1]
l1[0]=[50]
print(l1,l2,l3,l4)

[[50], 20, 30, 40] [[50], 20, 30, 40] [10, 20, 30, 40] list[[[50], 20, 30, 40]]

In [9]:
l1=list()
l1.append([2,[5,6],4])
l1.extend([4,1,3])
print(l1[0][1][1]+l1[2])

7

In [3]:


def index(a,b,n,m):
    for i in range(n):
        for j in range(m):
            if a[i]==b[j]:
                print(j)
            else:
                print("NA")

if __name__=="__main__":
   
    a=['A','B',"C",'D']
    b=['P','Q','A','D']
    n=len(a)
    m=len(b)
    index(a,b,n,m)

NA
NA
2
NA
NA
NA
NA
NA
NA
NA
NA
NA
NA
NA
NA
3

In [1]:
5*2**10

5120

In [3]:
old_salary=input('Enter Salary')
new= float(old_salary)+2000
new

TypeError: can only concatenate str (not "int") to str